<div class="form-horizontal">

    <div class="form-group">
        <label class="col-lg-4 control-label">Nom :</label>
        <div class="col-lg-8">
            <div class="bs-component">
                <p class="form-control-static text-muted" id="nom">S17</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Description :</label>
        <div class="col-lg-8">
            <div class="bs-component">
                <p class="form-control-static text-muted" id="description">Saison 2017 - Eté IATA</p>
            </div>
        </div>
    </div>

    <hr class="short alt">

    <p class="text-muted mn text-justify">Une SAISON vous permet de définir un raccourci lié à un ensemble de période</p>

    <hr class="short alt">

    <table class="table table-bordered mbn fs13 text-center">
        <tbody>
        <tr>
            <td><a href="">S12: Saison 2012 - Ete IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">W12: Saison 2012 - Hiver IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S13: Saison 2013 - Ete IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">W13: Saison 2013 - Hiver IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S14: Saison 2014 - Ete IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">W14: Saison 2014 - Hiver IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S15: Saison 2015 - Ete IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">W15: Saison 2015 - Hiver IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S16: Saison 2016 - Ete IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">W16: Saison 2016 - Hiver IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr class="dark">
            <td><a href="">S17: Saison 2017 - Ete IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">W17: Saison 2017 - Hiver IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        </tbody>
    </table>
    <!--<div class="form-group">
            <div class="col-lg-12">
                <div class="bs-component">
                    <div class="checkbox-custom mb5">
                        <input type="checkbox" disabled checked="" id="checkboxDefault3">
                        <label for="checkboxDefault3">Cette saison est visible dans les menus popups de Saisonnalité</label>
                    </div>
                </div>
            </div>
    </div>-->
</div>