<div class="form-horizontal">
    <div class="form-group">
        <label for="inputStandard" class="col-lg-4 control-label">Nom :</label>
        <div class="col-lg-8">
            <div class="bs-component">
                <input type="text" id="inputStandard" class="form-control" value="S17: Période IATA">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label" for="textArea2">Description :</label>
        <div class="col-lg-8">
            <div class="bs-component">
                <textarea class="form-control" id="textArea2" rows="1">Totalité de l'été IATA</textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="date1">De :</label>
        <div class="col-md-4">
            <div class="bs-component">
                <input type="text" id="date1" class="datepicker form-control" placeholder="Date début">
            </div>
        </div>
        <label class="col-md-2 control-label" for="date2">à :</label>
        <div class="col-md-4">
            <div class="bs-component">
                <input type="text" id="date2" class="datepicker form-control" placeholder="Date fin">
            </div>
        </div>
    </div>

    <hr class="short alt">

    <p class="text-muted mn text-justify">Une PERIODE est une composante d'une SAISON. Elle vous permet de lier une date de début à une date de fin afin d'automatiser la saisie des plans de vols</p>

    <hr class="short alt">

    <table class="table table-bordered mbn fs13 text-center">
        <tbody>
        <tr class="dark">
            <td><a href="">S17: Période IATA</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S17 Avant Pointe -</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S17: Avant Pointe</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S17 Avant Pointe +</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S17: Pointe</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S17 Après Pointe +</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S17: Après Pointe</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        <tr>
            <td><a href="">S17 Après Pointe -</a></td>
            <td><a href="" class="btn btn-xs btn-danger confirm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
        </tr>
        </tbody>
    </table>
</div>